<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-center">
        <p>© 2021 MyMime, Inc. Privacy·Terms·Sitemap</p>
      </div>
    </div>
  </div>
</div>
