body {
  background-color: black;
  color: white;
  padding-top:0px;
  display: flex
  content {
    width: 1000px;
  }
}

.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
}

.banner .banner-content {
  h1 {
    font-family: "DM Serif Display", serif;
    height: 500 px;
    width: 500 px;
    font-size: 64px;
  }
  p {
  color: white;
  height: 500px;
  width: 1000px;
  }
}

.button {
  font-family: "DM Serif Display", serif;
  background-color: #f30707;
  color: #000;
  border-radius: 10%;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
