body {
  background-color: black;
  color: white;
  padding-top:0px;
  display: flex
  content {
    width: 1000px;
  }
}

.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
  width: 50px;
}

.banner .banner-content {
  h1 {
    font-family: "DM Serif Display", serif;
    height: 500 px;
    width: 500 px;
    font-size: 64px;
  }
  p {
  color: white;
  height: 500px;
  width: 1000px;
  }
}

.button {
  font-family: "DM Serif Display", serif;
  background-color: #f30707;
  color: #000;
  border-radius: 10%;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.row.no-gutters {
  margin: -5px !important;
}

.row.no-gutters > * {
  padding: 5px !important;
}

.flipper {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

@media (min-width: 576px) {

  .ratio-not-1-1 {
    padding-bottom: calc(50% - 5px);
  }

}

.flipper-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flipper-front,
.flipper-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #c1c3c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper-back {
  background: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper-card.flipper-is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
