// Name
.mime-name-header {
  border-bottom: 3px solid black;
}

// Details
.details-list {
  padding: 0;
}

.details-list > * {
  list-style: none;
  font-weight: 400;
  color: #333;
}

.description-blurb-mime {
  font-weight: 400;
  color: #333;
}

li > i  {
  color: rgba(170,170,170,0.8);
}

// Image
.image-seed-file {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.perspective {
  perspective: 1rem;
  margin-top: 2rem;
}

.image-mime {
  transform: rotateY(-0.5deg);
  box-shadow: 4px 4px 4px;
}
