<h1>Edit Your Booking</h1>
<div>
  <div class="booking-form">
    <%= simple_form_for [ @clown, @booking ] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Update", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
