<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Booking Listing </h1>
      <% @bookings.each do |booking| %>
        <p>Mime's name: <%= booking.clown.name %></p>
        <p>Booking Start date: <%= booking.start_date %></p>
        <p>Booking End date: <%= booking.end_date %></p>
        <p>Accepted: <%= booking.accepted %></p>
      <% end %>
    </div>
  </div>
</div>
