<div class="banner container d-flex">
  <div class="banner-content d-flex">
    <h1>sublime mimes for memorable times</h1>
    <p>choosing the right mime isn't always black and white.  with our diverse collection of qualified mimes, you're sure to find a unique mime that's earned their stripes.  </p>
    <%= link_to "book a mime", clowns_path, class: "btn btn-danger btn-lg banner-button" %>
  </div>
</div>
