<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/6113900.jpg)">
  <div class="banner-content-h1">
    <h1>sublime mimes for memorable times.</h1>
  </div>
  <div class="banner-content-p">
    <p>choosing the right mime isn't always black and white.  with our diverse collection of qualified mimes, you're sure to find a unique mime that's earned their stripes.  </p>
  </div>
    <%= link_to "book a mime", clowns_path, class: "btn btn-danger btn-lg banner-button" %>
</div>

<section>
  <div class="container py-5">

    <h1>In the Spotlight</h1>

    <div class="row no-gutters">
      <div class="col-12 col-lg-6">
        <div class="flipper flipper-xl">
          <div class="flipper-card">
            <div class="flipper-front" style="background-image: url(https://cdn43.picsart.com/168095202002202.jpeg?type=webp&to=min&r=640)"></div>
            <div class="flipper-back">Back</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="row no-gutters">
          <div class="col-12 col-sm-6">
            <div class="flipper">
              <div class="flipper-card">
                <div class="flipper-front" style="background-image:  url(https://thumbs.gfycat.com/ClearcutAgileHarlequinbug-max-1mb.gif)"></div>
                <div class="flipper-back">Back</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="flipper">
              <div class="flipper-card">
                <div class="flipper-front" style="background-image: url(https://i.pinimg.com/236x/20/11/8f/20118feafe0883f05557601e9c5d6bc0--creepy-circus-circus-clown.jpg)"></div>
                <div class="flipper-back">Back</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="flipper">
              <div class="flipper-card flipper-is-flipped">
                <div class="flipper-front">Front</div>
                <div class="flipper-back" style="background-image: url(https://i.pinimg.com/originals/a1/12/6c/a1126c546e2084480b97a3a33529c572.jpg)">Back</div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6">
            <div class="flipper">
              <div class="flipper-card">
                <div class="flipper-front" style="background-image: url(https://lh3.googleusercontent.com/proxy/CrO_kjUDaBPAzaLKuOV6DRiyHkaRBsuxpzUasBz6O1S414J5bSW7kWP2Hy49HncZKzaUT57JPXRqIyCU0P-o-ziBr1ixdnBjo0xp6Bfo1TyxM18Vax6kWKE9-a35oGg-0bjxcm6Cow)"></div>
                <div class="flipper-back">Back</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="flipper">
          <div class="flipper-card">
            <div class="flipper-front" style="background-image: url(https://i.pinimg.com/236x/d2/1a/52/d21a5272342c2c5fdfbc2b5f2a1acd9d--mime-makeup-night-circus.jpg)"></div>
            <div class="flipper-back">Back</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="flipper">
          <div class="flipper-card flipper-is-flipped">
            <div class="flipper-front">Front</div>
            <div class="flipper-back" style="background-image: url(https://i.pinimg.com/236x/10/6c/74/106c74e214333c16cd705a977046a518--mime-costume-costume-makeup.jpg)">Back</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="flipper ratio-not-1-1">
          <div class="flipper-card">
            <div class="flipper-front" style="background-image: url(https://64.media.tumblr.com/tumblr_m0nhsakCIA1qfmhbw.gif)"></div>
            <div class="flipper-back">Back</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
      </div>
    </div>
  </div>
</section>
