<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url('https://upload.wikimedia.org/wikipedia/commons/6/6a/Heterosexual_flag_%28black-white_stripes%29.svg');">
  <div class="banner-content">
    <h1>MyMime</h1>
    <p>sublime mimes, anytime</p>
    <a class="btn btn-info btn-lg">Book your mime now!</a>
  </div>
</div>
