.banner {
  background-size: 75%;
  padding: 20px;
  background-image: asset-url("mime.gif");
  background-repeat: no-repeat;
  border: solid 1px red;
  height: 100vh;
}

.banner-content {
  border: solid 1px blue;
}

.banner-button {
  border: solid 1px yellow;
}
.banner a {
  padding: 20px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 30px 0;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 15px;
  color: white;
  opacity: .7;
  padding: 30px 0;
  max-width: 75%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
