.booking-form {
    position: relative;
    font-size: 32px;
    width: 75%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 800px;
    overflow: hidden;
    background-size: cover;
    border-radius: 5px;
    z-index: 20
}

.bookings-listings {
  font-size: 22px;
  margin-bottom: 500px;
}
